
.holl-header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.wrapp{
    top: 0;
    background-color: #fef1ce;
    height: 10vh    ;
    /* border-bottom: 2px solid rgb(109, 18, 18); */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-search{
    margin-left: px;
    width:18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bare{
    border: none;
    border-bottom: 2px solid rgb(167, 81, 81);
    background-color:#fef1ce;
    color: rgb(109, 18, 18);
}
.search-bare:focus{
    outline: none;
}

.header-logo{
    width: 7rem;
    height: 6rem;
}

.list{
    /* border: 2px solid red; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.link { 
        text-decoration: none;
        padding: 2px;
        border-radius: 2px;
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(167, 81, 81);
        margin-right: 60px
}

.link:hover{
  color: rgb(109, 18, 18);
}

.center-space{
    position: absolute;
    top: 0;
    right: 35%;
    background-image: url("../../images/RMZNA-user-login-background.png");
    background-size: cover  ;
    width: 10%;
    height: 9.7vh;
    display:none
}

.cart{
    /* width: 40px;
    height: 40px; */
    /* background-color: red; */
    color: rgb(109, 18, 18);
    margin-right: 20px;
    width: 1.3rem;
    height: 1.3rem;
}


.right-space{
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../../images/RMZNA-user-login-background.png");
    background-size: cover  ;
    width: 10%;
    height: 9.7vh;
}

.left-space{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../../images/RMZNA-user-login-background.png");
    background-size: cover  ;
    width: 10%;
    height: 9.8vh;
}
.cart:hover{
    cursor: pointer;
}

.dropdown_menu{
    /* display: none; */
    position:absolute;
    right: 1rem;
    top: 4rem;
    width: 300px;
    height: 0;
    background: rgba(217, 178, 120, 0.22);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu{
    height: 240px;
    /* border: 2px solid blue; */
}
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.toggle_btn {
    color: rgb(167, 81, 81);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
@media(max-width : 992px){

.right-space, .left-space {
    display: none;
}

.list{
    display: none;
}
.wrapp{

    justify-content: space-between;
}

.toggle_btn {
    color: rgb(167, 81, 81);
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    margin-right: 10px;
    margin-left: -15rem;
}
.center-space{
    display: block;
}

.search-bare{
    display: none;
    
}

.link { 

        margin-right: 0px
}

}
