.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem 10rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-logo {
  flex: 1;
  margin-right: 2rem;
}

.footer-logo img {
  width: 200px;
}

.footer-links {
  flex: 1;
  margin-right: 2rem;
}

.footer-links h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-link {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 0;
}

.footer-link:hover {
  color: var(--accent-color);
}

.footer-categories {
  flex: 1;
  margin-right: 2rem;
}

.footer-categories h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-categories li {
  margin-bottom: 0.5rem;
}

.footer-social-media {
  flex: 1;
  margin-right: 2rem;
}

.footer-social-media h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-media li {
  margin-bottom: 1rem;
}

.footer-social-media li svg {
  width: 2rem;
  height: 2rem;
}

.footer-social-media a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-social-media a:hover {
  color: var(--accent-color);
}

.footer-contact {
  flex: 1;
}

.footer-contact h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-contact span {
  margin-left: 1rem;
}

.footer-contact svg {
  color: var(--accent-color);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.footer-contact a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-contact a:hover {
  color: var(--accent-color);
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  position: absolute;
  bottom: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: var(--secondary-color);
}
