.footer {
  background-color: #fef1ce;
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem 10rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-main {
  flex: 3;
  display: flex;
  align-items: flex-start;
}

.footer-main h2 {
  margin-right: 2rem;
}

.footer-main p {
  margin-right: 2rem;
  color: var(--tertiary-color);
}

.footer-logo {
  flex: 1;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  margin-top: -90px;
  margin-bottom: -30px;
}

.logo-text {
  width: 200px;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text p {
  margin: 0;
  text-align: center;
}

.footer-links {
  flex: 1;
  margin-right: 2rem;
}

.footer-links h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-link {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem 0;
}

.footer-link:hover {
  color: var(--accent-color);
}

.footer-categories {
  flex: 1;
  margin-right: 2rem;
}

.footer-categories h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-categories li {
  margin-bottom: 0.5rem;
}

.footer-social-media {
  flex: 1;
  margin-right: 2rem;
}

.footer-social-media h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-social-media ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-social-media li {
  margin-bottom: 1rem;
}

.footer-social-media li svg {
  width: 2rem;
  height: 2rem;
}

.footer-social-media a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-social-media a:hover {
  color: var(--accent-color);
}

.footer-contact {
  flex: 1;
}

.footer-contact h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-contact span {
  margin-left: 1rem;
}

.footer-contact svg {
  color: var(--accent-color);
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.footer-contact a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-contact a:hover {
  color: var(--accent-color);
}

.footer-copyright {
  margin-top: 2rem;
  text-align: center;
  position: absolute;
  bottom: 0 !important;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: var(--secondary-color);
}

/* Small screens */
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  .footer-main {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer-logo img {
    width: 150px;
  }

  .footer-links,
  .footer-categories,
  .footer-social-media,
  .footer-contact {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer-main h2,
  .footer-links h3,
  .footer-categories h3,
  .footer-social-media h3,
  .footer-contact h3 {
    font-size: 1rem;
    margin-right: 1rem;
  }

  .footer-main p {
    font-size: 0.8rem;
  }

  .footer-link,
  .footer-categories li,
  .footer-social-media li {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .footer-social-media li svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .footer-contact li {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }

  .footer-contact span {
    margin-left: 0;
  }

  .footer-contact svg {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}

/* Medium screens */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    padding: 3rem;
  }

  .footer-main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .footer-main h2 {
    margin-bottom: 0;
  }

  .footer-logo {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .footer-links,
  .footer-categories,
  .footer-social-media,
  .footer-contact {
    margin-bottom: 0;
  }

  .footer-links {
    margin-right: 2rem;
  }

  .footer-categories {
    margin-right: 2rem;
  }

  .footer-social-media {
    margin-right: 2rem;
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
  .footer {
    padding: 5rem 10rem;
  }

  .footer-main {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .footer-main h2 {
    margin-bottom: 0;
  }

  .footer-logo {
    margin-right: 2rem;
  }

  .footer-links {
    margin-right: 2rem;
  }

  .footer-categories {
    margin-right: 2rem;
  }

  .footer-social-media {
    margin-right: 2rem;
  }
}
